In [1]:
#Import packages

from time import time
import re
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import GridSearchCV
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

#Import custom class and functions

import sys
sys.path.append("../app/customized_class")
from input_data import InputData
from dummy_estimator import DummyEstimator

In [4]:
def load_data(database_filepath):
    
    '''
    
    This function load a database of cleaned properties and remove non informative variables like this:
    
    -'l2', 'l3', 'l4', 'l5', 'l6', 'Region'
    -'missing_l2', missing_l3', 'missing_l4', 'missing_l5', 'missing_l6'
    
    - 'l2' is removed because is redundant with 'l2shp'
    - 'Region' is removed because a department(l2shp) belongs to a single region, therefore the department defines the region,
       and this can lead to collinearity problems.
    - 'missing_l2' and 'missing_price' are removed because are constant.(no missing values in this columns)
    - lat and lon are in this dataframe but no in the model. They are used for visualizations.
    
    In addition to this we also remove values for properties other than houses or apartments, because the model
    only include this categories.
    
    Params:
        database_filepath (string): Path to sqlLite database
    Returns:
        df(pandas DataFrame): Matrix with features for train model and visualizations (lat and lon columns) and
                              target column ('price')
        
    '''
    engine = create_engine('sqlite:///'+database_filepath)
    df = pd.read_sql_table("Cleaned_prices",con=engine)
    
    columns_to_drop = ['l2', 'l3', 'l4', 'l5', 'l6','Region','missing_l2','missing_l3', 'missing_l4',
                       'missing_l5', 'missing_l6', 'missing_price']
    df = df.drop(columns_to_drop, axis=1)
    df = df[df['property_type'].isin(['Casa','Apartamento'])]
    
    return df

def adjust_data_for_model(df):
    
    '''
    This function the data in convenient format for the stage modelling. Some operations made are:
    
        1. Remove incomplete rows, that is, rows which have more than 2 missing fields in this list: 
           [rooms, log_surface_total, log_surface_covered, bathrooms]
        2. Exclude departments with less of 100 rows in the dataframe
        3. Include dummy variables for categorical variables: property_type, and l2shp (Department)
           using One-Hot Encoding because they are nominal variables. Here the original categorical variables
           are droped, except for l2shp because is ussefull for input median in missing values in a posterior step.
        4. Replace price for log10(price).
        5. Split the dataframe en covariates and target variable (X,y)
        
        
    Parameters:
    -----------
        df(pandas DataFrame): DataFrame with relevant columns and rows for modelling stage
    
    Returns:
    -----------
        
        df(pandas DataFrame): DataFrame with features adjusted for modelling stage
        
    '''
    
    # Step 1: Remove incomplete rows:
    
    columns = ['missing_rooms', 'missing_surface_total', 'missing_surface_covered','missing_bathrooms']
    counts = df[columns].apply(sum,axis=1)
    df = df[counts<=2]

    # Step 2: Exclude departments with less of 100 points.
    
    rows_by_departments = df['l2shp'].value_counts()
    departments_to_exclude = list(rows_by_departments[rows_by_departments<100].index)
    df = df[~df['l2shp'].isin(departments_to_exclude)]
    
    # Step 3: Include dummy variables:
    
    var_cat = df.select_dtypes(include=['object']).copy().columns
    for col in var_cat:
        try:
            
            if ((col!='l2shp') & (col!='property_type')):
                df = pd.concat([df.drop(col,axis=1),pd.get_dummies(df[col], prefix = col, prefix_sep = "_", drop_first = True, 
                                                                   dummy_na = False, dtype=int)],axis=1)
            else:
                df = pd.concat([df,pd.get_dummies(df[col], prefix = col, prefix_sep = "_", drop_first = True, 
                                                                   dummy_na = False,dtype=int)],axis=1)
                
        except Exception as e:
            print(col, "processing error")
            print(e)
        
    # Step 4. Replace price for log10(price):
    
    df['price'] = np.log10(df['price'])
    
    # Step 5. Split the dataframe en covariates and target variable (X,y)
    
    X = df.loc[:,df.columns!="price"]
    y = df['price']
    
    return X,y

In [5]:
df = load_data("../data/PropertiesPrices.db")
display(df)
df, y = adjust_data_for_model(df)
display(df)

,lat,lon,rooms,bedrooms,bathrooms,surface_covered,property_type,surface_total,price,missing_lat,missing_lon,missing_rooms,missing_bedrooms,missing_bathrooms,missing_surface_total,missing_surface_covered,l2shp
5,6.338954,-75.541284,NaN,NaN,NaN,NaN,Apartamento,NaN,162000000.0,0,0,1,1,1,1,1,ANTIOQUIA
14,6.172401,-75.609512,NaN,NaN,1.0,NaN,Apartamento,NaN,150000000.0,0,0,1,1,0,1,1,ANTIOQUIA
15,6.313522,-75.559738,NaN,NaN,2.0,NaN,Apartamento,NaN,320000000.0,0,0,1,1,0,1,1,ANTIOQUIA
16,6.156883,-75.628126,NaN,NaN,2.0,NaN,Apartamento,NaN,375000000.0,0,0,1,1,0,1,1,ANTIOQUIA
17,6.192737,-75.593727,NaN,NaN,2.0,NaN,Apartamento,NaN,280000000.0,0,0,1,1,0,1,1,ANTIOQUIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595378,1.149300,-76.646600,4.0,NaN,2.0,NaN,Casa,243.0,250000000.0,0,0,0,1,0,0,1,PUTUMAYO
595379,1.178700,-76.878500,NaN,NaN,NaN,NaN,Casa,NaN,81000000.0,0,0,1,1,1,1,1,PUTUMAYO
595389,NaN,NaN,2.0,NaN,1.0,78.0,Apartamento,NaN,113000000.0,1,1,0,1,0,1,0,PUTUMAYO
595390,NaN,NaN,2.0,NaN,NaN,86.0,Apartamento,NaN,123000000.0,1,1,0,1,1,1,0,PUTUMAYO
595414,2.567761,-72.639653,NaN,NaN,10.0,NaN,Casa,NaN,750000000.0,0,0,1,1,0,1,1,GUAVIARE

,lat,lon,rooms,bedrooms,bathrooms,surface_covered,property_type,surface_total,missing_lat,missing_lon,...,l2shp_HUILA,l2shp_MAGDALENA,l2shp_META,l2shp_NARIÑO,l2shp_NORTE DE SANTANDER,l2shp_QUINDIO,l2shp_RISARALDA,l2shp_SANTANDER,l2shp_TOLIMA,l2shp_VALLE DEL CAUCA
166,6.205000,-75.549004,NaN,3.0,4.0,NaN,Apartamento,259.0,0,0,...,0,0,0,0,0,0,0,0,0,0
167,6.216000,-75.608002,NaN,2.0,2.0,NaN,Apartamento,76.0,0,0,...,0,0,0,0,0,0,0,0,0,0
168,6.228000,-75.565002,NaN,2.0,2.0,NaN,Apartamento,68.0,0,0,...,0,0,0,0,0,0,0,0,0,0
169,5.617000,-75.623001,NaN,4.0,2.0,NaN,Casa,196.0,0,0,...,0,0,0,0,0,0,0,0,0,0
170,6.342000,-75.557999,NaN,5.0,2.0,NaN,Casa,80.0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594703,10.474775,-73.248602,3.0,NaN,2.0,56.0,Casa,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
594704,10.476000,-73.250000,NaN,2.0,2.0,NaN,Apartamento,63.0,0,0,...,0,0,0,0,0,0,0,0,0,0
594705,10.475000,-73.250999,NaN,2.0,2.0,NaN,Apartamento,60.0,0,0,...,0,0,0,0,0,0,0,0,0,0
594706,10.485000,-73.277000,NaN,4.0,4.0,NaN,Casa,120.0,0,0,...,0,0,0,0,0,0,0,0,0,0
594822,NaN,NaN,3.0,NaN,4.0,380.0,Casa,1200.0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
print(df['l2shp'].value_counts())
print(df.columns)

CUNDINAMARCA          35718
ANTIOQUIA             25778
VALLE DEL CAUCA       16270
ATLANTICO              8702
CALDAS                 4475
BOLIVAR                4231
RISARALDA              3689
SANTANDER              3454
QUINDIO                3123
NORTE DE SANTANDER     2894
MAGDALENA              1315
CORDOBA                1198
TOLIMA                 1118
META                    800
CAUCA                   644
HUILA                   573
NARIÑO                  400
BOYACA                  236
CESAR                   117
Name: l2shp, dtype: int64
Index(['lat', 'lon', 'rooms', 'bedrooms', 'bathrooms', 'surface_covered',
       'property_type', 'surface_total', 'missing_lat', 'missing_lon',
       'missing_rooms', 'missing_bedrooms', 'missing_bathrooms',
       'missing_surface_total', 'missing_surface_covered', 'l2shp',
       'property_type_Casa', 'l2shp_ATLANTICO', 'l2shp_BOLIVAR',
       'l2shp_BOYACA', 'l2shp_CALDAS', 'l2shp_CAUCA', 'l2shp_CESAR',
       'l2shp_CORDOBA', 'l2shp_CUNDINAMARCA', 'l2shp_HUILA', 'l2shp_MAGDALENA',
       'l2shp_META', 'l2shp_NARIÑO', 'l2shp_NORTE DE SANTANDER',
       'l2shp_QUINDIO', 'l2shp_RISARALDA', 'l2shp_SANTANDER', 'l2shp_TOLIMA',
       'l2shp_VALLE DEL CAUCA'],
      dtype='object')

In [7]:
transformer = InputData()
df_mod = transformer.fit_transform(df)

{'rooms': 7.0, 'surface_total': 1501.0, 'surface_covered': 525.0, 'bathrooms': 6.0}

In [8]:
display(df_mod)
print(df_mod.dtypes)
display(transformer.medians_by_department)
display(transformer.quantile98_by_feature)

for col in df_mod.columns:
    print(df_mod[col].unique())

,lat,lon,rooms,bedrooms,bathrooms,surface_covered,surface_total,missing_lat,missing_lon,missing_rooms,...,l2shp_HUILA,l2shp_MAGDALENA,l2shp_META,l2shp_NARIÑO,l2shp_NORTE DE SANTANDER,l2shp_QUINDIO,l2shp_RISARALDA,l2shp_SANTANDER,l2shp_TOLIMA,l2shp_VALLE DEL CAUCA
166,6.205000,-75.549004,3.0,3.0,4.0,1.949390,2.413300,0,0,1,...,0,0,0,0,0,0,0,0,0,0
167,6.216000,-75.608002,3.0,2.0,2.0,1.949390,1.880814,0,0,1,...,0,0,0,0,0,0,0,0,0,0
168,6.228000,-75.565002,3.0,2.0,2.0,1.949390,1.832509,0,0,1,...,0,0,0,0,0,0,0,0,0,0
169,5.617000,-75.623001,3.0,4.0,2.0,1.949390,2.292256,0,0,1,...,0,0,0,0,0,0,0,0,0,0
170,6.342000,-75.557999,3.0,5.0,2.0,1.949390,1.903090,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594703,10.474775,-73.248602,3.0,3.0,2.0,1.748188,2.212188,0,0,0,...,0,0,0,0,0,0,0,0,0,0
594704,10.476000,-73.250000,3.0,2.0,2.0,2.204120,1.799341,0,0,1,...,0,0,0,0,0,0,0,0,0,0
594705,10.475000,-73.250999,3.0,2.0,2.0,2.204120,1.778151,0,0,1,...,0,0,0,0,0,0,0,0,0,0
594706,10.485000,-73.277000,3.0,4.0,4.0,2.204120,2.079181,0,0,1,...,0,0,0,0,0,0,0,0,0,0
594822,10.476423,-73.261000,3.0,3.0,4.0,2.579784,3.079181,1,1,0,...,0,0,0,0,0,0,0,0,0,0

lat                         float64
lon                         float64
rooms                       float64
bedrooms                    float64
bathrooms                   float64
surface_covered             float64
surface_total               float64
missing_lat                  object
missing_lon                  object
missing_rooms                object
missing_bedrooms             object
missing_bathrooms            object
missing_surface_total        object
missing_surface_covered      object
property_type_Casa           object
l2shp_ATLANTICO              object
l2shp_BOLIVAR                object
l2shp_BOYACA                 object
l2shp_CALDAS                 object
l2shp_CAUCA                  object
l2shp_CESAR                  object
l2shp_CORDOBA                object
l2shp_CUNDINAMARCA           object
l2shp_HUILA                  object
l2shp_MAGDALENA              object
l2shp_META                   object
l2shp_NARIÑO                 object
l2shp_NORTE DE SANTANDER     object
l2shp_QUINDIO                object
l2shp_RISARALDA              object
l2shp_SANTANDER              object
l2shp_TOLIMA                 object
l2shp_VALLE DEL CAUCA        object
dtype: object

,lat,lon,rooms,bedrooms,bathrooms,surface_covered,surface_total
ANTIOQUIA,6.205563,-75.582001,3.0,3.0,2.0,89.0,90.0
VALLE DEL CAUCA,3.41,-76.527086,3.0,3.0,3.0,110.0,101.0
CUNDINAMARCA,4.702386,-74.055361,3.0,3.0,3.0,115.0,120.0
HUILA,2.933352,-75.282756,3.0,3.0,2.0,129.0,120.0
ATLANTICO,11.001,-74.815002,3.0,3.0,2.0,112.0,105.0
BOLIVAR,10.404722,-75.518689,3.0,3.0,2.0,110.0,104.0
QUINDIO,4.542,-75.6725,3.0,3.0,2.0,85.0,80.0
CALDAS,5.058764,-75.496089,3.0,3.0,2.0,80.0,90.0
NORTE DE SANTANDER,7.894,-72.495,3.0,3.0,3.0,112.0,105.0
RISARALDA,4.808644,-75.698,3.0,3.0,2.0,94.0,90.0
CAUCA,2.452,-76.600114,3.0,3.0,3.0,105.0,120.0
SANTANDER,7.095,-73.115,3.0,3.0,2.0,83.0,84.0
MAGDALENA,11.232751,-74.211,3.0,3.0,3.0,115.0,112.0
TOLIMA,4.439583,-75.195999,3.0,3.0,2.0,102.0,95.0
CORDOBA,8.758906,-75.882434,3.0,3.0,2.0,120.0,119.0
NARIÑO,1.214,-77.284096,3.0,3.0,2.0,124.0,97.5
META,4.141,-73.635356,3.0,3.0,2.0,110.0,90.0
BOYACA,5.565283,-73.35,3.0,3.0,2.0,111.0,100.0
CESAR,10.476423,-73.261,3.0,3.0,3.0,160.0,163.0

{'rooms': 7.0,
 'surface_total': 1501.0,
 'surface_covered': 525.0,
 'bathrooms': 6.0}

[ 6.20499992  6.21600008  6.22800016 ... 10.4747749  10.47500038
 10.48499966]
[-75.5490036  -75.60800171 -75.56500244 ... -73.2486015  -73.25099945
 -73.27700043]
[3. 2. 5. 4. 7. 1. 6.]
[3.000e+00 2.000e+00 4.000e+00 5.000e+00 1.000e+00 6.000e+00 1.000e+01
 2.018e+03 7.000e+00 8.000e+00 1.100e+01 1.200e+01 3.200e+01 9.000e+00
 1.300e+01 1.800e+01 1.400e+01 4.300e+01 1.500e+01 2.000e+01 1.900e+01
 1.700e+01 3.000e+01 1.600e+01 3.400e+01 2.200e+01 3.800e+01 2.300e+01
 3.500e+01 2.100e+01 4.100e+01 3.600e+01 6.000e+01]
[4. 2. 1. 3. 5. 6.]
[1.94939001 1.91381385 2.19589965 2.33041377 1.8573325  2.02938378
 2.24551267 2.47712125 2.54654266 2.38021124 1.90308999 1.79239169
 1.80617997 1.68124124 1.86923172 1.79934055 2.50514998 1.8260748
 2.05307844 1.84509804 1.97312785 2.17609126 1.81291336 2.1271048
 1.89762709 2.06069784 1.87506126 1.83250891 1.93449845 1.88649073
 2.13672057 1.74036269 2.1172713  2.13353891 1.86332286 1.77815125
 1.95424251 2.2787536  2.06445799 1.59106461 2.37106786 1.74818803
 2.11058971 2.27184161 1.97772361 1.71600334 1.94448267 1.90848502
 2.31386722 2.26481782 2.18752072 1.93951925 1.63346846 1.67209786
 1.61278386 1.69897    1.65321251 2.07918125 2.04532298 2.10720997
 1.98227123 2.29003461 1.83884909 1.98677173 1.81954394 1.73239376
 2.12057393 2.13033377 1.96378783 1.92941893 1.76342799 1.95904139
 1.88081359 2.         1.75587486 2.20411998 2.14612804 2.1430148
 2.09691001 2.10380372 2.1931246  2.24303805 2.46686762 2.25527251
 2.462398   2.36361198 2.69019608 2.30535137 2.25042    2.36172784
 2.10037055 2.52244423 2.7201593  1.8920946  1.72427587 2.01283722
 2.09342169 2.04139269 2.45484486 1.99122608 1.85125835 2.0211893
 2.43136376 1.77085201 1.91907809 2.18469143 2.51587384 1.53147892
 1.5563025  1.47712125 1.51851394 1.92427929 2.07188201 1.60205999
 2.01703334 1.69019608 2.11394335 2.08635983 2.42488164 2.24797327
 2.64345268 2.30963017 2.51054501 2.13987909 1.78532984 2.18184359
 2.02530587 1.96848295 2.12385164 2.15836249 2.00860017 2.28555731
 2.04921802 2.16731733 2.37474835 2.19865709 2.07554696 2.42651126
 2.43933269 2.34242268 2.15228834 2.22010809 2.53275438 2.31806333
 2.23044892 2.36921586 2.39794001 2.08990511 2.5171959  2.36548798
 2.62324929 2.56584782 2.71516736 2.22530928 1.5797836  2.22271647
 2.44715803 2.57634135 2.06818586 2.17897695 2.54406804 2.65321251
 2.38381537 2.66931688 2.41161971 2.71600334 2.32428246 2.41497335
 2.32221929 2.30749604 1.99563519 2.35410844 1.62324929 2.24054925
 1.462398   1.34242268 2.48287358 1.70757018 2.42813479 2.30103
 2.05690485 2.50242712 2.1903317  2.0374265  2.49136169 2.48429984
 2.161368   2.31175386 2.68663627 2.21748394 2.08278537 2.14921911
 2.64246452 2.58546073 1.56820172 2.51851394 2.4456042  2.00432137
 2.69897    2.26951294 2.4785665  2.29225607 1.64345268 2.33845649
 2.47421626 2.33243846 2.63346846 2.53147892 2.23299611 2.17026172
 2.21484385 2.03342376 2.28330123 2.48144263 2.2121876  2.5797836
 2.4345689  2.53529412 2.4440448  2.55870857 2.33645973 2.54900326
 2.5390761  2.53402611 2.60205999 2.35602586 1.66275783 2.39269695
 2.42324587 2.31597035 2.44870632 2.66838592 2.52504481 2.39093511
 2.5132176  2.58771097 2.3783979  2.2764618  2.40312052 2.37657696
 2.4578819  2.38916608 2.32014629 2.29446623 2.68394713 2.41995575
 2.29666519 2.16435286 2.40654018 2.56110138 2.20682588 2.34830486
 2.38738983 2.55388303 2.62117628 2.30319606 1.50514998 2.15533604
 2.45024911 2.44090908 2.40483372 2.67024585 2.42160393 2.26007139
 2.34044411 2.54777471 2.40140054 2.35218252 2.26717173 2.66275783
 2.25767857 2.6180481  2.6364879  2.23552845 2.20139712 2.40823997
 2.20951501 2.38560627 2.48713838 2.33445375 1.44715803 2.673942
 2.49276039 2.59106461 2.49831055 2.35983548 2.51188336 2.39619935
 2.65513843 2.65705585 2.25285303 2.2380461  2.39445168 2.46089784
 2.372912   2.68124124 2.27415785 2.28780173 1.39794001 2.60959441
 1.54406804 2.41664051 2.67209786 2.48000694 2.56820172 2.62531245
 2.45939249 2.46538285 2.71349054 2.32633586 2.17318627 2.43775056
 2.5289167  2.5301997  2.71011737 1.17609126 2.47129171 2.57403127
 2.50105926 2.40993312 2.61489722 2.64836001 2.45636603 2.56229286
 2.45178644 2.49692965 2.54157924 2.5865873  2.55990663 2.41329976
 2.3283796  2.34439227 2.2278867  2.57054294 2.5563025  2.46834733
 2.59879051 2.42975228 2.5378191  2.43296929 2.63748973 2.62838893
 2.34635297 2.35793485 2.46982202 2.68484536 2.50650503 2.6580114
 2.45331834 2.26245109 2.63548375 2.58092498 2.59439255 0.77815125
 2.48572143 2.61700034 2.29885308 2.54032947 2.63447727 2.68574174
 2.55509445 2.68752896 2.28103337 2.41830129 2.49415459 2.64048144
 2.61278386 2.64542227 2.48855072 2.59217676 2.68841982 1.30103
 2.67117284 1.11394335 2.63042788 1.43136376 2.66086548 2.6560982
 2.38201704 2.58883173 2.50785587 2.39967372 2.64933486 2.71850169
 2.60530505 2.47275645 2.58319877 2.61066016 2.50379068 2.52374647
 2.44247977 2.6242821  2.70500796 2.59988307 2.55022835 2.69635639
 2.52633928 2.65030752 1.25527251 2.66651798 2.50920252 2.65896484
 2.56702637 2.5965971  2.57863921 2.71933129 2.56937391 1.32221929
 1.49136169 2.65417654 2.35024802 2.66745295 1.04139269 2.68930886
 2.61172331 2.70586371 2.71180723 2.62013605 2.70329138 2.7084209
 1.36172784 2.58433122 2.68304704 2.6009729  2.36735592 2.43616265
 2.6919651  2.56348109 2.46389299 2.69722934 2.48995848 2.70926996
 2.60638137 2.54282543 2.69284692 1.38021124 2.49968708 2.57518784
 2.53655844 2.66370093 1.14612804 2.67486114 2.56466606 2.66558099
 2.60422605 2.51454775 2.70415052 2.59769519 2.64640373 2.68214508
 2.63144377 2.55266822 2.59328607 2.5728716  2.61384182 2.60745502
 2.51982799 2.70757018 2.70243054 0.90308999 2.69108149 2.6294096
 2.6946052  2.67669361 2.71096312 2.55145    2.64443859 2.66181269
 0.         2.62634037 2.63245729 2.5774918  2.70156799 2.61909333
 2.58206336 2.68033551 2.7176705  2.69372695 2.66464198 2.69810055
 2.69548168 2.62221402 2.71683772 2.62736586 2.6599162  2.64738297
 2.67760695 2.60852603 2.49554434 2.63848926 2.67577834 1.41497335
 0.30103    2.65224634 2.71432976 2.52113808 2.6794279  2.54530712
 2.64147411 2.5899496  1.23044892 2.67302091 2.57170883 2.60314437
 2.5276299  2.69983773 2.5575072  2.70070372 2.61595005 2.65127801
 2.47567119 2.67851838 1.         2.59549622 2.63948649 0.69897
 0.60205999 1.2787536  0.84509804 0.95424251 2.7126497  0.47712125
 1.07918125]
[2.41329976 1.88081359 1.83250891 ... 3.00043408 3.02160272 3.0733517 ]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]

### Pipeline

In [9]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.svm import LinearSVR
from sklearn.base import BaseEstimator

In [10]:
def build_model():
    
    '''
    This function construct a pipeline with custom transformer and estimators. The pipeline is passed to grid search function
    for tuning parameter for estimators. The pipeline include FeatureUnion based in custom transformer.
    
    Params:
        None
    Returns:
        cv(GridSearch object): An object of class GridSearch fitting over train data. The object have an attribute "best_estimator_"
                               that contain the best model finded.
    
    '''
    
    pipeline = Pipeline([
             ('input', InputData()),
             ('scaler', StandardScaler()),
             ('clf', DummyEstimator())])
#   
#   
#    pipeline = Pipeline([
#            ('transformer', Pipeline([
#                ('input', InputData()),
#                ('scaler', StandardScaler())
#            ])),
#            ('clf', DummyEstimator())
#    ])
    
    
   # pipeline = Pipeline([
   #     ('features', FeatureUnion([
   #         ('input', InputData()),
   #         ('scaler', StandardScaler())
   #     ])),
   #     ('clf', DummyEstimator())
   # ])

    print(pipeline.get_params())
    
    # Estimator 1: LinearRegression (clasic model):
    
    fit_intercept = [False, True] 
    
    # Estimator 2: Stochastic Gradient Descent:

    # The gradient of the loss is estimated each sample at a time and the model is updated along the way with
    # a decreasing strength schedule (aka learning rate). 
    
    # Choosen loss functions for SGD
    
    loss_function_SGD =["squared_loss", "huber", "epsilon_insensitive", "squared_epsilon_insensitive"]
    
    # Epsilon parameter according loss function selected:
    
    epsilon_huber = [0.4,0.7,1]
    epsilon_epsilon_insensitive = [0.01,0.1,0.2]
    epsilon_squared_epsilon_insensitive = [0.01,0.1,0.2]
    learning_rate = ["invscaling", "adaptive"]
    
    # Estimator 3: Support Vector Regression with Linear Kernel
    
    # Analogously to SVM for classification problem, the model produced by Support Vector Regression depends only
    # on a subset of the training data, because the cost function ignores samples whose prediction is close to their target.
        
    loss_functions_SVR = ["epsilon_insensitive", "squared_epsilon_insensitive"]
    
    # Candidate learning algorithms and their hyperparameters
    
    # Note that the SGDRegressor is splitted in several versions because loss functions is related to specific epsilon
    # values

    search_space = [{'clf': [LinearRegression()],
                    'clf__fit_intercept': fit_intercept},
                    {'clf': [SGDRegressor()],
                     'clf__loss': ['squared_loss']},
                    {'clf': [SGDRegressor()],
                     'clf__loss': ['huber'],
                     'clf__epsilon': epsilon_huber,
                     'clf__learning_rate': learning_rate},
                    {'clf': [SGDRegressor()],
                     'clf__loss': ['epsilon_insensitive'],
                     'clf__epsilon': epsilon_epsilon_insensitive,
                     'clf__learning_rate': learning_rate},
                    {'clf': [SGDRegressor()],
                     'clf__loss': ['squared_epsilon_insensitive'],
                     'clf__epsilon': epsilon_squared_epsilon_insensitive,
                     'clf__learning_rate': learning_rate},
                    {'clf': [LinearSVR()],
                     'clf__loss': loss_functions_SVR}
                   ]

    #Create grid search

    cv = GridSearchCV(pipeline, search_space, n_jobs=-1, scoring = "r2")
    
    return cv

In [11]:
#df = load_data("../data/PropertiesPrices.db")
#df, y = adjust_data_for_model(df)

X, y = df, y

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 10)

print('Building model...')
model = build_model()

print('Training model...')
start_time = time()
model.fit(X_train, y_train)
end_time = time()
print("The time for training was: {}".format(end_time-start_time))

Building model...
{'memory': None, 'steps': [('input', InputData(include=['rooms', 'surface_total', 'surface_covered', 'bathrooms'],
          include_log=['surface_total', 'surface_covered'],
          segmentation_col='l2shp')), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('clf', DummyEstimator())], 'verbose': False, 'input': InputData(include=['rooms', 'surface_total', 'surface_covered', 'bathrooms'],
          include_log=['surface_total', 'surface_covered'],
          segmentation_col='l2shp'), 'scaler': StandardScaler(copy=True, with_mean=True, with_std=True), 'clf': DummyEstimator(), 'input__include': ['rooms', 'surface_total', 'surface_covered', 'bathrooms'], 'input__include_log': ['surface_total', 'surface_covered'], 'input__segmentation_col': 'l2shp', 'scaler__copy': True, 'scaler__with_mean': True, 'scaler__with_std': True}
Training model...
{'rooms': 7.0, 'surface_total': 1520.0, 'surface_covered': 520.0, 'bathrooms': 6.0}
The time for training was: 609.908041715622

In [12]:
best_model = model.best_estimator_
print(best_model)
model_filepath = "regressor.pkl"
pickle.dump(model, open(model_filepath, 'wb'))

Pipeline(memory=None,
         steps=[('input',
                 InputData(include=['rooms', 'surface_total', 'surface_covered',
                                    'bathrooms'],
                           include_log=['surface_total', 'surface_covered'],
                           segmentation_col='l2shp')),
                ('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('clf',
                 SGDRegressor(alpha=0.0001, average=False, early_stopping=False,
                              epsilon=1, eta0=0.01, fit_intercept=True,
                              l1_ratio=0.15, learning_rate='adaptive',
                              loss='huber', max_iter=1000, n_iter_no_change=5,
                              penalty='l2', power_t=0.25, random_state=None,
                              shuffle=True, tol=0.001, validation_fraction=0.1,
                              verbose=0, warm_start=False))],
         verbose=False)

In [13]:
results_df = pd.DataFrame(model.cv_results_)
display(results_df)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_clf,param_clf__fit_intercept,param_clf__loss,param_clf__epsilon,param_clf__learning_rate,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,8.146642,0.158621,2.492959,0.130722,"LinearRegression(copy_X=True, fit_intercept=Tr...",False,NaN,NaN,NaN,"{'clf': LinearRegression(copy_X=True, fit_inte...",-5.818217e+02,-5.723473e+02,-5.727149e+02,-5.760649e+02,-5.613109e+02,-5.728520e+02,6.696988e+00,16
1,7.957658,0.133773,2.238873,0.042619,"LinearRegression(copy_X=True, fit_intercept=Tr...",True,NaN,NaN,NaN,"{'clf': LinearRegression(copy_X=True, fit_inte...",-1.171258e-03,-8.077191e-04,-8.994866e-04,-1.326965e-03,-7.091593e-04,-9.829176e-04,2.308416e-04,2
2,8.034463,0.135808,2.273747,0.044422,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,squared_loss,NaN,NaN,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-6.821399e+13,-1.421421e+20,-5.123059e+14,-5.886576e+18,-5.598659e+19,-4.080317e+19,5.486170e+19,21
3,7.819234,0.059853,2.224520,0.054377,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,huber,0.4,invscaling,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-2.763692e-02,-9.444435e-03,-4.462897e-02,-9.715182e-03,-1.172156e-02,-2.062941e-02,1.377431e-02,9
4,9.884716,0.981038,2.753248,0.120430,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,huber,0.4,adaptive,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-4.669750e-03,-5.553448e-03,-4.955721e-03,-5.859570e-03,-6.523887e-03,-5.512475e-03,6.580683e-04,6
5,9.498563,0.699917,2.888273,0.092408,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,huber,0.7,invscaling,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-1.035519e-01,-8.831735e-03,-6.150573e-02,-5.921638e-03,-6.998740e-03,-3.736195e-02,3.921333e-02,11
6,10.638551,0.421311,3.374867,0.171221,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,huber,0.7,adaptive,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-1.217978e-03,-1.265715e-03,-1.118565e-03,-1.699419e-03,-1.498480e-03,-1.360031e-03,2.105860e-04,3
7,9.333066,0.437381,2.610675,0.420673,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,huber,1,invscaling,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-1.374914e-01,-9.300072e-03,-1.426771e-01,-5.617765e-03,-8.290823e-03,-6.067541e-02,6.486890e-02,13
8,9.293200,0.202961,2.135466,0.103721,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,huber,1,adaptive,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-1.087757e-03,-7.938750e-04,-8.634909e-04,-1.316774e-03,-7.634466e-04,-9.650689e-04,2.092970e-04,1
9,8.036199,0.168938,2.196068,0.132171,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,epsilon_insensitive,0.01,invscaling,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-1.301844e-01,-2.613576e-02,-1.133275e-01,-2.765947e-02,-3.673185e-02,-6.680780e-02,4.532559e-02,15
10,9.052851,0.199915,2.457283,0.171166,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,epsilon_insensitive,0.01,adaptive,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-1.143949e-02,-1.354559e-02,-1.229712e-02,-1.354053e-02,-1.489482e-02,-1.314351e-02,1.183761e-03,8
11,9.161508,0.785411,3.040406,0.243669,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,epsilon_insensitive,0.1,invscaling,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-8.965696e-02,-3.178252e-02,-1.606793e-01,-3.193233e-02,-1.471421e-02,-6.575306e-02,5.382413e-02,14
12,10.037725,0.313088,2.615940,0.241288,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,epsilon_insensitive,0.1,adaptive,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-1.035362e-02,-1.204891e-02,-1.091172e-02,-1.245438e-02,-1.303440e-02,-1.176061e-02,9.886551e-04,7
13,8.977784,0.422737,2.452058,0.370380,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,epsilon_insensitive,0.2,invscaling,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-6.213583e-02,-2.081571e-02,-9.175190e-02,-2.172163e-02,-1.271331e-02,-4.182768e-02,3.032574e-02,12
14,9.559994,0.401927,2.241594,0.092813,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,epsilon_insensitive,0.2,adaptive,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-3.578134e-03,-4.223769e-03,-3.608497e-03,-4.756970e-03,-5.093403e-03,-4.252155e-03,6.053000e-04,5
15,8.137482,0.176841,2.562038,0.219021,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,squared_epsilon_insensitive,0.01,invscaling,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-6.896000e+17,-1.380148e+19,-8.128741e+17,-3.864581e+19,-1.199462e+20,-3.477919e+19,4.477554e+19,20
16,44.531112,0.831048,2.493876,0.211543,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,squared_epsilon_insensitive,0.01,adaptive,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-4.398697e+15,-5.496587e+11,-5.289651e+13,-4.274352e+12,-8.180264e+14,-1.054889e+15,1.700386e+15,17
17,8.151259,0.376758,2.327277,0.100334,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,squared_epsilon_insensitive,0.1,invscaling,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-9.641064e+17,-3.152390e+19,-5.946924e+18,-1.424129e+19,-1.905031e+20,-4.863586e+19,7.168968e+19,23
18,43.996250,1.320691,2.092700,0.111574,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,squared_epsilon_insensitive,0.1,adaptive,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-8.083290e+15,-6.454236e+12,-2.430305e+15,-8.289965e+12,-3.569659e+14,-2.177061e+15,3.087896e+15,19
19,7.450555,0.148835,2.065100,0.059052,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,squared_epsilon_insensitive,0.2,invscaling,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-1.055040e+17,-1.108773e+20,-2.953852e+18,-3.222405e+19,-8.098560e+19,-4.542926e+19,4.377324e+19,22
20,43.910480,1.964915,2.049046,0.110174,"SGDRegressor(alpha=0.0001, average=False, earl...",NaN,squared_epsilon_insensitive,0.2,adaptive,"{'clf': SGDRegressor(alpha=0.0001, average=Fal...",-4.663420e+15,-3.172011e+14,-7.370298e+14,-3.073546e+14,-3.725423e+14,-1.279510e+15,1.699344e+15,18
21,57.283843,2.533162,2.345936,0.121216,"LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_i...",NaN,epsilon_insensitive,NaN,NaN,"{'clf': LinearSVR(C=1.0, dual=True, epsilon=0....",-1.482643e-02,-2.070530e-02,-1.993062e-02,-1.789690e-02,-3.177352e-02,-2.102656e-02,5.745222e-03,10
22,58.871185,6.573371,1.784083,0.337930,"LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_i...",NaN,squared_epsilon_insensitive,NaN,NaN,"{'clf': LinearSVR(C=1.0, dual=True, epsilon=0....",-1.624494e-03,-4.196405e-04,-3.130524e-03,-2.091496e-03,-6.127391e-04,-1.575779e-03,9.949545e-04,4

### Using the best model to predict prices in test data set

In [14]:
y_pred = best_model.predict(X_test)

In [15]:
df_pred = pd.DataFrame({'y_pred':list(y_pred)}, index=X_test.index)
display(df_pred)
print(sum(df_pred['y_pred'].isna()))

          y_pred
313930  8.549942
185004  8.552374
329527  8.554822
547964  8.555583
454003  8.574761
...          ...
313630  8.585186
238179  8.588566
413085  8.594052
502853  8.589993
84005   8.593377

[22947 rows x 1 columns]

0

In [27]:
df_results = pd.concat([X_test,df_pred,y_test],axis=1)
df_results['errors'] = df_results['y_pred']-df_results['price']
df_results['l2shp'] = df['l2shp']
df_results['property_type'] = df['property_type']
df_results['squared_errors'] = df_results['errors']**2
df_to_save = df_results[['lat','lon','l2shp','errors','squared_errors','missing_lon','missing_lat','property_type']]
df_to_save.to_csv("../app/source/test_errors.csv")

In [28]:
display(df_to_save)

,lat,lon,l2shp,errors,squared_errors,missing_lon,missing_lat,property_type
313930,4.680539,-74.047640,CUNDINAMARCA,0.282771,0.079959,0,0,Apartamento
185004,3.370000,-76.518000,VALLE DEL CAUCA,0.089976,0.008096,0,0,Apartamento
329527,4.695075,-74.091758,CUNDINAMARCA,0.174611,0.030489,0,0,Apartamento
547964,NaN,NaN,SANTANDER,-0.046477,0.002160,1,1,Casa
454003,4.534566,-75.670600,QUINDIO,0.553572,0.306441,0,0,Apartamento
...,...,...,...,...,...,...,...,...
313630,NaN,NaN,CUNDINAMARCA,0.028883,0.000834,1,1,Apartamento
238179,4.690000,-74.060000,CUNDINAMARCA,-0.027912,0.000779,0,0,Apartamento
413085,10.992546,-74.821085,ATLANTICO,-0.335367,0.112471,0,0,Casa
502853,5.041843,-75.510268,CALDAS,0.548600,0.300962,0,0,Apartamento
84005,6.180309,-75.586620,ANTIOQUIA,-0.029873,0.000892,0,0,Apartamento

In [19]:
from sklearn.metrics import r2_score
r2_model = r2_score(y_test, y_pred)
print(r2_model)

-0.0005610461795817479

In [20]:
display(best_model)

Pipeline(memory=None,
         steps=[('input',
                 InputData(include=['rooms', 'surface_total', 'surface_covered',
                                    'bathrooms'],
                           include_log=['surface_total', 'surface_covered'],
                           segmentation_col='l2shp')),
                ('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('clf',
                 SGDRegressor(alpha=0.0001, average=False, early_stopping=False,
                              epsilon=1, eta0=0.01, fit_intercept=True,
                              l1_ratio=0.15, learning_rate='adaptive',
                              loss='huber', max_iter=1000, n_iter_no_change=5,
                              penalty='l2', power_t=0.25, random_state=None,
                              shuffle=True, tol=0.001, validation_fraction=0.1,
                              verbose=0, warm_start=False))],
         verbose=False)

In [ ]:
pipeline2 = Pipeline([
             ('input', InputData()),
             ('scaler', StandardScaler()),
             ('clf', (LinearRegression))])